/* font-family: 'Passion One', cursive; */


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Mulish', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  position: fixed;
  display: flex;
  background-color: rgb(30, 145, 214);
  height: 3rem;
  justify-content: space-around;
  align-items: center;
  padding-left: 5rem;
  box-shadow: rgb(0 0 0 / 64%) 0px 2px 8px -5px;
  z-index: 999999999;
}

.navbar button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  color:white;
  font-weight: 600;
}

.navbar button:hover{
  background-color: rgb(0, 114, 187);
  transition: 0.3s;
}

.navbar .btn-active{
  background-color: rgb(0, 114, 187);

}


.nav-item{
  background-color: rgb(93, 236, 36);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-end;
}

.nav-buttons{
  width: 100vw;
  display: flex;
  justify-content: start;
  gap: 5rem;
}

.nav-buttons button{
  /* width: auto;
  height: 3rem; */
}

.nav-btn{
  /* background-color: green; */
  width: 4rem;
  height: 3rem;
}


.cart{
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 5rem;
  margin-top: auto;
  width: 25rem;
  /* background-color: rgb(30, 145, 214); */
  color: wheat;
  border-radius: 0 0 15px 15px;
}

.cart-btn-div{
  display: flex;
  justify-content: end;
  background-color: transparent;
}

/* .cart-button{
  width: 10px;
} */


.hidden{
  height: 0;
  visibility: hidden;
}

.cart-button{
  /* background-color: transparent; */
}

.cart-component{
  max-height: 20rem;
  overflow-y: auto;
  background-color: blueviolet;
  border: solid 1px rgb(16, 88, 133);
  border-top: none;
  border-bottom: none;

}

.cart-component::-webkit-scrollbar {
  width: 0.8rem;
}

.cart-component::-webkit-scrollbar-track {
  background-color: rgb(30, 145, 214);
}

.cart-component::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, rgb(0, 114, 187) 0%, rgb(41, 79, 149) 99%);
}



.cart-item{
  /* height: 3rem; */
  position: relative;
  padding: 1rem;
  background-color:rgb(0, 114, 187);
  display: flex;
  align-items: center;
  gap: 2rem
}

.cart-item::after{
  position: absolute;
  content: '';
  background-color: rgb(30, 145, 214);
  width: 90%;
  height: 1px;
  border-radius: 25px;
  bottom: 0;
  left: 1rem;
}

.cart-item:last-child::after{
  height: 0;

}

.cart-item:first-child{
  margin-top: 0;
}

.cart-item img{
  width: 5rem;
  height: 5rem;
  object-fit: contain;
}
.cart-item-container{
  height: 5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cart-item-info{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item-delete{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

}
.cart-item-container p{
  padding: 0;
  margin: 0;
}

.item-title{
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.item-price{
  color: rgb(204, 204, 204);
}

.cart-total{
  background-color: rgb(30, 145, 214);
  border: solid 1px rgb(16, 88, 133);
  color: rgb(255, 255, 255);
  display: flex; 
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  border-radius: 0px 0 25px 25px;
}

.container{
  /* padding-top: 10rem; */

}

.App{
  display: grid;
  /* grid-template-rows: repeat(10, 20rem);
  grid-template-columns: repeat(3, 30%); */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  gap: 4rem;
  padding: 5rem;
  /* background-color: tomato; */
  /* width: 100vw; */
  /* height: 1000000rem; */
}

.button-delete-from-cart{
  height: auto;
  cursor: pointer;
  padding: 0;
  border: none;
  background: none;
  color: rgb(255, 255, 255);
}

.product-container{
  background-color: #62e297;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50rem;
  padding: 2rem;
  margin: 10px 0 10px 0;
  border-radius: 20px;
}

.product-container-landing{
  /* background-color: #e0e0e0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem;
  margin: 10px 0 10px 0;
  border-radius: 10px;
  transition: 0.1s;
  box-shadow: 0px 0px 5px -1px rgb(117, 117, 117);
  
}

.product-container-landing:hover{
  box-shadow: 0px 0px 8px -1px rgb(32 32 32);
  scale: 1.07;
  transition: 0.1s;
}

.product-container-landing:hover:nth-child(odd) {
  transform: rotate(-1deg);
}

.product-container-landing:hover:nth-child(even) {
  transform: rotate(1deg);
}

.product-container-landing p{
  font-weight: 600;
  /* font-size: smaller; */
  margin: 0;
}




.div1 { grid-area:auto; }



.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  overflow: hidden;
  border-radius: 20px;
  height: 300px;
  width: 300px;
}

.img-container-landing{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
  height: 150px;
  width: auto;
}


.img-container img{
  cursor: pointer;
  object-fit: contain;
  max-height: 300px;
  max-width: 300px;
}

.img-container-landing img{
  cursor: pointer;
  object-fit: contain;
  /* max-height: 200px; */
  max-width: 150px;
}

.product-right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  width: 300px;
  /* background-color: green; */
}

.product-bottom{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  min-height: 2rem;
  /* background-color: green; */
}

.product-top{
  display: flex;
  flex-direction: column;
}


.product-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-info p{
  font: bold;
  font-size: 1rem;
}

.product-brand-category{
  /* opacity: 0.5; */
  color: #484848;
}

.product-price{
  font:bold;
  font-size: 0.8rem;
  margin-top: 5px;
}

.text-orange{
  color: orange
}

.text-red{
  color: red
}

.text-green{
  color: green
}

.add-to-cart-btn{
  background-color: rgb(30, 145, 214);
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: white;
  font-weight: 600;
  transition: 0.2s;

}

.add-to-cart-btn:hover{
  scale: 1.02;
  transition: 0.2s;
}